body, h1, h2, ul {
  background-color: #DBE5BD;
  margin: 0;
  padding: 0;
  font-family: 'Lora', serif;
}

.container {
  max-width: 800px; 
  margin: 20px auto; 
  padding: 0 20px; 
}

header {
  background-color: #DEE7C3;
  padding: 20px; 
  position: relative; 
}

.logo-container {
  width: 100%;
  max-width: 500px;
  margin: 0 auto; 
}

#headerContainer img {
  width: 100%; 
  height: auto; 
  display: block; 
}

h1 {
  text-align: center; 
  margin: 20px 0; 
  color: #54AF6C;
  background-color: #DEE7C3;
}

.centered-text {
  text-align: center;
  margin-top: 10px; 
  color: #54AF6C;
  background-color: #DEE7C3;
}

label {
  display: block;
  margin-bottom: 5px;
  color: #54AF6C;
}

input[type="text"],
input[type="number"],
textarea {
  width: calc(100% - 20px); /* Adjusted width to account for padding */
  padding: 8px;
  border-radius: 10px;
  resize: vertical; 
  margin-bottom: 10px;
  border: 1px solid #CFE7D0;
}

button {
  font-family: 'Lora','Sans Serif';
  padding: 8px 16px;
  border: none;
  border-radius: 20px;
  background-color: #8DD96C;
  color: #CFE7D0;
  cursor: pointer;
}

button:hover {
  background-color: #54AF6C;
  transition-duration: 0.3s;
}

#commentsSection {
  margin-top: 20px;
  color: #54AF6C;
}

ul {
  list-style-type: none;
}

/* Rounded text bubble */
.calories-bubble {
  display: none; /* Initially hide the bubble */
  position: absolute;
  background-color: #000;
  color: #000;
  border-radius: 15px; /* Adjust border-radius to make it rounded */
  padding: 8px 12px; /* Adjust padding as needed */
  z-index: 1;
  bottom: calc(100% + 10px); /* Adjust bubble position */
  left: 0;
  margin-bottom: 10px;
  border: 1px solid #000; /* Add border for better visibility */
}

/* Show the bubble when hovering over the calorie display */
#caloriesPerServing:hover + .calories-bubble {
  display: block;
}
