body, h1, h2, ul {
  background-color: #DBE5BD;
  margin: 0;
  padding: 0;
  font-family: 'Lora', serif;
}

.container {
  max-width: 800px; 
  margin: 20px auto; 
  padding: 0 20px; 
}


header {
  background-color: #DEE7C3;
  padding: 20px; 
  position: relative; 
}


.logo-container {
  width: 100%;
  max-width: 500px;
  margin: 0 auto; 
}


#headerContainer img {
  width: 100%; 
  height: auto; 
  display: block; 
}


h1 {
  text-align: center; 
  margin: 20px 0; 
  color: #54AF6C;
  background-color: #DEE7C3;
}


#pageTitle {
  margin-bottom: 20px;
  text-align: center; 
}


.centered-text {
  text-align: center;
  margin-top: 10px; 
  color: #54AF6C;
  background-color: #DEE7C3;
}


.container {
  max-width: 800px; 
  margin: 20px auto;
  padding: 20px;
}


label {
  display: block;
  margin-bottom: 5px;
  color: #54AF6C;
}

input[type="text"],
input[type="number"],
textarea {
  width: 100%;
  padding: 8px;
  border-radius: 10px;
  resize: vertical; 
  margin-bottom: 10px;
  border: 1px solid #CFE7D0;
}

button {
  font-family: 'Lora','Sans Serif';
  padding: 8px 16px;
  border: none;
  border-radius: 20px;
  background-color: #8DD96C;
  color: #CFE7D0;
  cursor: pointer;
}

button:hover {
  background-color: #54AF6C;
  transition-duration: 0.3s;
}


#commentsSection {
  margin-top: 20px;
  color: #54AF6C;
}

ul {
  list-style-type: none;
}

/* Responsive styles */
@media screen and (max-width: 600px) {
  /* Adjust styles for smaller screens if needed */
  header img {
    width: 80px;
  }
}
